*{
    box-sizing: border-box;
}

footer.highlight {
    background-color: rgba(0, 0, 255, 0.575);
  }
  
  

#container {
    border: solid;
    display: grid;
    grid-template-columns: 27% 52% 21%;
    font-family:Verdana, Geneva, Tahoma, sans-serif/* 'Segoe UI', Tahoma, Verdana, sans-serif */;
    background-color: rgba(128, 128, 128, 0.132);
}

img {
    height: 18em;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.436);
    border-style: solid;
    position: relative; left: 42%; 
    margin-top: 8%;
}

header {
    background-image: url('Images/banner7\,1.jpg');
    background-size: cover;
    margin: 2%;
    background-color: rgba(128, 128, 128, 0.132);
}

h1 {
    color: rgb(69, 66, 66);
    font-size: 500%;
    margin-bottom: 0%;
}

.neo{
    animation-name: fall;
    animation-duration: 1.7s;
    animation-iteration-count: 1;
}


@keyframes fall {
    from {
        transform: translatex(-2000px);
    }
    to {
        transform: translatex(0);
    }
}

.ditjoe{
    animation-name: falls;
    animation-duration: 1.7s;
    color: blue;
}

@keyframes falls {
    from {
        transform: translateY(-2000px);
    }
    to {
        transform: translateY(0);
    }
}



h3 {
    padding-left: 2%;
    color: white;
    background-color:  gainsboro;
}

h2 {
    background-color:  gainsboro;
    text-align: center;
}

.p1, .p2 {
    width: 95%;
    padding-left: 5%;
}

#web {
    font-size: 400%;
    margin: 0%;
    text-align: center;
    color: blue;
    font-family:fantasy ;
    letter-spacing: 3px;
    font-weight: bold;
}

section {
    margin-left: 10%;
}

footer {
    width: 75%;
    margin-left: 15%;
}

form {
    display: flex;
    flex-direction: column;
    gap:5px;
}

button {
    background-color: rgba(0, 0, 255, 0.356);
    width: 50%;    
}

/* @media only screen and (min-width:305px){
    #container {
        border: solid;
        display: grid;
        grid-template-rows: 27% 52% 21%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background-color: rgba(128, 128, 128, 0.132);
    }
} */  

@media only screen and (min-width:1400px){

}