*{
    box-sizing: border-box;
}

#container {
    border: solid;
    display: grid;
    grid-template-columns: 27% 52% 21%;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: rgba(128, 128, 128, 0.132);
}

img {
    height: 20em;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgba(0, 0, 255, 0.436);
    border-style: solid;
}

header {
    background-image: url('Images/banner7\,1.jpg');
    margin: 2%;
    background-color: rgba(128, 128, 128, 0.132);
}

h3 {
    padding-left: 2%;
    color: white;
    background-color:  gainsboro;
}

h2 {
    background-color:  gainsboro;
    text-align: center;
}

footer {
    width: 75%;
    margin-left: 15%;
}

section {
    margin-left: 10%;
}
